.home-header{
    text-align: center;
    font-size: 2rem;
}

.home-paragraph{
    font-size: 1.25rem;
    line-height:1.5rem;
}

.home-container{

    margin-top:70px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

