.pagination-container{
    list-style:none;
    display: flex;
    justify-content: center;
    li{
        &:hover{
            cursor: pointer;
        }
        &:focus{
            outline: 0;
            border: none;
            box-shadow: none;
        }
        a{
            padding:10px;
            border: 1px solid lightgrey;
            background-color: rgb(236, 229, 229);
            color: rgb(56, 56, 56);

        }
        &.pagination-current-page{
                a{
                    background-color:#2b578d;
                    color:white;
                }
        }
    }


}
  
