.pokemonDetails-image{
    width:250px;
    height:250px;
}

.pokemonDetails-container{
    margin-top:70px;
    display:flex;
    flex-direction: column;
    align-items: center;
    a{
        align-self:flex-start;
    }
}